@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 42.5%;
    }
    .img-fluid {
        width: 75%;
    }
    .img-responsive {
    object-fit: cover;
    width: 50%;
    }
}
