$colortitulo1: #ffff51;
$colortitulo2: #ff806a;
$colorsubtitulo: #eee26f;
$colorprincipal: #fbf7f2;
$colorA: #ffddcb;
$colorAhover: #ffada7;
$colorlist: #fff6d0;
// 
$fontxl: 5rem;
$fontl: 3rem;
$font1: 2rem;
$font3: 1.5rem;
$font4: 1.2rem;
$font5: 1rem;
// 
$fontMont: 'Montserrat', sans-serif;
$fontLibre: 'Libre Baskerville', serif;
