@import "bootstrap-reboot";
@import "bootstrap";
@import "bootstrap-grid";
@import "variable";
@import "mixin";
@import "mediaquery";

html {
    font-size: 70%; 
    height: 100%;
} 
body{
    background-color: #010101;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='252' height='252' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23f4f674' fill-opacity='0.10'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.mainbody{
    background-color: #000000ba;
    padding: 100px 0 0 0;
    margin: auto;
    height: 100%;
}
h1{
    @include huno;
}
h2 {
    @include hdos;
}
h3 {
    @include htres;
}
p { 
    @include mainP
}
a{
    text-decoration: none; 
    color: $colorA;
    &:hover {
        color: $colorAhover;
    } 
}
ul{
    @include mainlist
}
.card {
    z-index: 0 !important;
}
/* ------------------- */
/* ----- HEADER ------- */
/* ------------------- */
header{
    @extend .container-fluid;
    @extend .d-flex;
    z-index: 10000 !important;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #040404f5;
    // logo
    .logoheader{
        @extend .img-responsive;
        padding: 1rem;
    }
    // menu
    nav{
        .navbar-toggler-icon{
            height: fit-content;
            width: fit-content;
            i{
            color: $colorsubtitulo;
            }
        }
        .dropdown-menu {
            position: absolute;
            background-color: #0000009a;
            border: #ffffff69 2px solid;
            a {
                font-size: 1.5rem;
                color: #fff;
                &:hover{
                    color: #ff806a;
                    background-color: #2d2d2d9f;
                }
            }
        }
        ul {
            border-bottom: #fff 1px solid;
            border-radius: 0.5rem;
            li{
            color: #ffffa6;
            padding: 0 1rem ;
            font-size: 1.5rem;
            background-color: #0000007e;
            a:hover{
                color: #ff806a;
                border-top: 1px solid #fff700;
            }
        }
    }
    }
    // rooftop
    .rooftop{
    @extend .header-focus-in;
        color: #ffedd2;
        text-align: center;
    }
}
    // animation logo
.header-focus-in {
	-webkit-animation: header-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
	        animation: header-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
}
@keyframes header-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
/* ------------------- */
/* ----- INDEX ------- */
/* ------------------- */
.mainindex{
    @extend .container;
    // intro
    .mainindex_intro {
        @extend .container;
        padding-top: 1rem;
        margin-bottom: 10%;
        .mainindex_intro_bienvenidos {
            text-align: center;
            h1{
                font-size: $fontl;
            }
        }
        .mainindex_intro_main{
            @extend .d-md-flex;
            justify-content: space-evenly;
            .mainindex_intro_main-txt{
                width:500px;
                padding: 0 2rem;
            }
            .mainindex_intro_main-vid{
                @extend .embed-responsive;
                @extend .embed-responsive-16by9;
                iframe{
                    @extend .embed-responsive-item;
                }
                
            }
        }
    }
    // novedades
    .mainindex_novedades{
        background: rgb(159, 98, 98);
        display: flex;
        img{
            @extend .card;
        }
    }
    // delivery
    .mainindex_delivery{
        @extend .d-lg-flex;
        align-items: center;
        margin: 5rem 3rem;
        padding: 2rem;
        justify-content: space-around;
        border-top: 2px solid #ffebcd;
        .mainindex_delivery_info{
            width: min-content;
            button{
                margin: 0 30%;
                background-color: #f9f97c;
                border-radius: 5px;
                a{
                    text-transform: uppercase;
                    color: #000;
                }
            }
        }
        .mainindex_delivery_slide{
            @extend .carousel;
            width: 300px;
            img{
            border-radius: 5px;
            }
        }
    }
                /* ULTIMOS SHOWS */
    .mainindex_shows{
        margin: 5rem 0;
        padding: 1rem;
        border-bottom: 1px dotted #b95543;
        .mainindex_shows_title{
            @include titulogaleria;
            text-align: start;
            text-shadow: #ffffffb8 1px 2px;
            margin: 1rem 0;
            background: #ffffffb0;
        }
        .mainindex_shows_main{
            @extend .d-md-flex;
            .mainindex_shows_main-section{
                @extend .mx-auto;
                @extend .d-none;
                @extend .d-md-block;
                @extend .d-lg-flex;
                div{
                    padding: 1rem;
                }
            }
            .carousel{
                @extend .d-md-none;
            }
        }
    }
}

//----- CICLOS DE SHOWS ----- */
.mainshows {
    @extend .container;
    @extend .mx-auto;
    .mainshowsintro{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
            margin: 0 3rem;
        .mainshowstitle {
            text-transform: uppercase;
            font-size: 5rem;
            padding: 0.5rem 0 ;
            color: $colortitulo2;
        }
        .rsvp{
            text-align: center;
            padding: 0.2rem;
            width: fit-content;
            a{
                color: #60df65;
            }
            i{
                padding: 0.5rem;
            }
        }
    }
    
    .mainCards {
        @extend .mx-auto;
        @extend .row;
        justify-content: space-around;
        padding: 1rem;
        .Card {
            @extend .col-md-4;
            @extend .col-lg-3;
            @extend .d-flex;
            @extend .flex-md-column;
            margin:1rem;
            padding: 0;
            background: #8f8f8f42;
            border-radius: 0.5rem;
            &:hover{
                background: #fff9cb36;
            }
            .cardimg{
                border-radius: 0.5rem;
                background: #ffffffcb;
            }
            .cardbody{
                padding: 1rem 1.5rem 0;
                align-items: center;
                .cardtitle{
                    text-align: center;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}
/* ------------------- */
/* -----MUSEO------- */
/* ------------------- */
.museo {
    @extend .container;
    @extend .mx-auto;
    // intro
    .museo_intro{
        @extend .d-lg-flex;
        .museo_intro_info{
            justify-items: center;
            flex-basis: 80%;
            @extend .flex-column;
            .museo_intro_info_linea1{
                @extend .d-lg-flex;
                padding: 1rem;
                margin: 1rem;
                border-radius: 0.5rem;
                background-color: #121212bd;
                img {
                    width: 400px;
                }
                div {
                    margin: 0 1rem;
                }
                // lg en adelante
                .museo_intro_info_linea1-lg {
                    margin:  3rem;
                    & img {
                        width: fit-content;
                    }
                    @extend .d-none;
                    @extend .d-lg-block;
                }
                // card
                .museo_intro_info_linea1-mobile{
                    @extend .mx-auto;
                    margin: 0 2rem;
                    width: fit-content;
                    height: fit-content;
                    & img {
                    @extend .img-fluid;
                    width: 100%;
                    }
                    h1{
                        border-radius: 3px;
                        text-align: center;
                        padding: 5px;
                        background-color: #000000d2;
                    }
                    .imagenacceso{
                        height: 200px;
                        
                    }
                    @extend .d-lg-none;
                }
                .museo_intro_info_linea1-titulo {
                    @extend .d-none;
                    @extend .d-lg-block;
                    padding: 1rem;
                }
                .museo_intro_info_linea1-txt{
                    padding: 1rem 0;
                }
            }
            .museo_intro_info_linea2 {
                @extend .d-lg-flex;
                align-content: center;
                align-items: center;
                justify-content: space-around;
                padding: 1rem;
                    margin: 1rem;
                    border-radius: 0.5rem;
                    background-color: #121212bd;
                .museo_intro_info_linea2-txt{
                    flex-basis: 50%;
                }
                .museo_intro_info_linea2-img {
                    img{
                    width: 100%;
                    }
                }
                div {
                    margin: 0 1rem;
                }
            }
        }
        .museo_intro_horarios {
            background-color: #ffa1a142;
            text-align: center;
            flex-basis: 20%;
            margin: 1rem;
            border-radius: 0.5rem;
            padding-top: 1rem;
            .museo_intro_horarios_list {
                justify-content: space-evenly;
                text-align: justify;
                @extend .d-flex;
                @extend .flex-lg-column;
                & div {
                    padding: 1rem;
                }
            }
        }
    }
    // recorrido
    .museo_recorrido{
        border-radius: 0.5rem;
        margin: 3rem 1rem;
        padding: 2rem 0;
        .museo_recorrido_titulo{
            @include titulogaleria;
            background-color:#181616e3;
            border-top-left-radius: 0.5rem;
        }
        .museo_recorrido_map{
            @extend .embed-responsive;
            padding: 1rem;
            background-color: #ffffff41;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            height: 300px;
            iframe{
                @extend .embed-responsive-item;
                padding: 1rem;
            }
        }
    }
    // galeria
    .museo_galeria {
        margin: 3rem 1rem;
        .museo_galeria_titulo {
            @include titulogaleria ;
            background-color:#181616e3;
            border-radius: 0.5rem;
        }
        .museo_galeria_main{
        @extend .row;
        @extend .justify-content-around;
            .museo_galeria_main-card {
                @include imgtxt-Galeria;
                @extend .m-4;
                @extend .col-lg-3;
                @extend .col-md-4;
                @extend .col-sm-5;
                @extend .col-10;
            }

        }
    }
}
/* ------------------- */
/* -----  FOOD ------- */
/* ------------------- */
.mainfood{
    @extend .container;
    @extend .mx-auto;
    h2{
        text-transform: uppercase;
    }
    // section 1
    .mainfood_section1{
        @extend .d-lg-flex;
        .mainfood_section1-titulo{
            background-color: #d1c69a88;
            padding: 0.5rem;
            h1{
                color: #ffffff;
                text-align: center;
                text-shadow: 1px 1px black;
                font-weight: 700;
                font-size: 3rem;
                border-bottom: #ffffff 3px solid;
            }
        }
        .mainfood_section1-main{
            @extend .d-md-flex;
            // entradas
            .mainfood_section1_entradas{
                padding: 1rem;
                background-color: #8636364d;
                border-left: 1px dashed #af5151;
                .mainfood_section1_entradas-items-imagen{
                    @include foodcard;
                    div{
                        margin-bottom: 40%;
                    }
                }
                .mainfood_section1_entradas-items-list{
                    padding: 1rem;
                    @extend .d-md-flex;
                    div{
                        margin: 0 0.5rem;
                    }
                }
            }
            // sharers
            .mainfood_section1_tablas{
                padding: 1rem;
                background-color: #8656364d;
                border-left: 1px solid #865636;
                .mainfood_section1_tablas-titulo{
                    h2{
                        color: #ffa264;
                    }
                }
                .mainfood_section1_tablas-imagen{
                    @include foodcard;
                    div{
                        margin-bottom: 40%;
                    }
                }
                .mainfood_section1_tablas-linea2{
                    @extend .d-lg-flex;
                    padding: 1rem;
                    align-items: center;
                    .l2_txt{                        padding: 0.5rem  2rem;
                    }
                }
            }
        }
    }
    // section 2
    .mainfood_section2{
        background-color: #5a4141d8;
        .mainfood_section2-titulo{
            h2{
            font-size: $font1;
            text-align: center;
            color: #ffc0cb;
            }
            border-top: #ffc0cb 1px solid;
        }
        .mainfood_section2_main{
            @extend .d-lg-flex;
            justify-content: space-between;
            .mainfood_section2_main-1{
                @extend .d-md-flex;
                .mainfood_section2-main-salads{
                    padding: 1rem;
                    @extend .text-center;
                    div{
                        margin-bottom: 2rem;
                        img{
                            width: 250px;
                        }
                    }    
                }
                .mainfood_section2-main-linda{
                    background-color: #ac5a5aa8;
                    padding: 1rem;
                    border-left: 1px dashed white;
                    border-bottom: 1px dashed white;
                    div{
                        margin-bottom: 2rem;
                    }    
                    .mainfood_section2-main-linda-imagen{
                        @extend .img-fluid;
                        @include foodcard;
                        width: 300px;
                    }
                }
            }
            .mainfood_section2_main-2{
                .mainfood_section2_main-harrison{
                    padding: 1rem;
                    background-color: #7b51328f;
                    border-left: 1px dashed white;
                    border-bottom: 1px dashed white;
                    .mainfood_section2_main-harrison-1{
                        @extend .d-md-flex;@extend .flex-lg-column;
                        justify-content: space-around;
                        align-content: space-around;
                        .mainfood_section2_main-harrison-2{
                        width: fit-content;
                        div{
                            padding: 1rem;
                            align-self: center;
                            justify-self: center;
                            width: fit-content;
                            img{
                                border-radius: 3px;
                                width: 250px;
                            }
                            p{
                                width: fit-content;
                                padding-right: 3rem;
                            }
                        }
                    }

                    }
                }
            }
        }
    }
    // section 3
    .mainfood_section3{
        background-color: #010101e3;
        padding: 1rem;
        @extend .d-lg-flex;
        @extend .justify-content-around;
        @extend .align-content-center;
        .mainfood_section3-titulo{
            text-align: center;
            align-self: center;
            text-transform: uppercase;
            .d1{
                border-left: dashed 3px #fff;
                margin-right: 3rem;
                padding: 0 2px;
                font-size: $font3;
            }
            .d2{
                border-right: dashed 3px #fff;
                margin-left: 2rem;
                padding: 0 2px;
                font-size: $font3;
            }
        }
        .mainfood_section3_items{
            @extend .d-md-flex;
            padding: 2rem 0;
            & div{
                margin: 0 1rem;
            }
            .mainfood_section3_items-lista{
                border-left: 1px dotted #fff;
                padding: 5px;
                align-self: center;
                h3{
                    margin-top: 1rem;
                }
            }
            .mainfood_section3_items-imagen{
                @extend .card;
                height: fit-content;
                img{
                    @extend .card-img;
                }
                div{
                    @extend .card-img-overlay;
                    margin: 0 65% 0 0;
                    background-color: #0000008a;
                }
            }
        }
    }
}
/* ------------------- */
/* ---  COCKTAILS ---- */
/* ------------------- */
.maincocktails {
    @extend .container;
    @extend .mx-auto;
    .titulococktail {
        text-transform: uppercase;
        font-size: $font4;
        color: $colortitulo2;
    }
    // classics
    .maincocktails_classics{
        padding-top: 1rem;
        .maincocktails_classics-titulo{
            text-transform: uppercase;
            padding: 0.5rem;
            margin-left: 20%;
            border-left: 2px dashed white;
        }
        .maincocktails_classics_main_imagen{
            text-align: center;
            @include foodcard;
            height: fit-content;
            width: 250px;
            div {
                margin-bottom: 100%;
            }
        }
        .maincocktails_classics_main{
            @extend .d-lg-flex;
            @extend .mx-auto;
            width: fit-content;
            align-content: space-evenly;
            .maincocktails_classics_main_section{
                @extend .d-sm-flex;
                justify-content: space-evenly;
                align-content: space-evenly;
                margin: 1rem;  
                .maincocktails_classics_main_section_imagen{
                    @include foodcard;
                    @extend .img-fluid;
                    @extend .mx-auto;
                    text-align: center;
                    margin: 0 1rem;
                    div{
                        margin-bottom: 100%;
                    }
                }
                .maincocktails_classics_main_section_items{
                    @extend .d-flex;
                    @extend .flex-sm-column;
                    @extend .mx-auto;
                    margin: 1rem;
                    padding: 0 2rem;
                    justify-content: center;
                    align-content: center;
                    .maincocktails_classics_main_section_items-a{
                        @extend .mx-auto;
                        div{
                        width: 200px;
                        padding: 0 1rem;
                        }
                    }
                }
            }
        }
    }
    // bartenders
    .maincocktails_bartenders{
        margin: 2rem 1rem;
        border-top: dotted 1px #ffffff;
        padding-top: 1rem;
        border-radius: 1rem;
        background-color: #f5f5f543;
        .maincocktails_bartenders-titulo{
            h2 {
                text-transform: uppercase;
                text-align: center;
                @include huno;
            }
        } 
        .maincocktails_bartenders_main{
            @extend .d-lg-flex;
            padding: 1rem;
            .maincocktails_bartenders_main_person{
                @extend .d-md-flex;
                padding: 0 1rem;
                border-right: 2px dashed #ffffff6b;
                .maincocktails_bartenders_person-subtitulo{
                    text-transform: uppercase;
                    color: $colorA;
                    border-bottom: solid 2px $colorAhover;margin: 1rem 1rem;
                    text-align: center;
                }
                // hasta MD
                .maincocktails_bartenders_main_person-section1b{
                    @extend .d-md-none;
                    background-color: #00000088;
                    border-radius: 3px;
                    padding: 5px;
                    .maincocktails_bartenders_main_person-section1b-person{
                        display: flex;
                        border-bottom: #000000 5px dotted;
                    img {
                        width: 100%;
                        border: 1px #ffffffc9 solid;
                        border-radius: 0.5rem;
                        }
                        .maincocktails_bartenders_main_person-links-xs{
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                    .maincocktails_bartenders_main_person-section1b-carousel{
                    @extend .carousel;
                    @extend .carousel-fade;
                    border: 1px #ffffffc9 solid;
                    border-radius: 3px;
                    margin-bottom: 1rem;
                    .carousel-caption{
                        background-color: #0000009d;
                        border-radius: 1rem;
                    }
                    }
                }
                // desde MD 
                .maincocktails_bartenders_main_person-section1{
                    @extend .d-none;
                    @extend .d-md-block;
                    justify-content: space-around;
                    align-content: space-around;
                    width: fit-content;
                    img {
                        width: 200px;
                        border-radius: 0.5rem;
                        border: groove 1px white;
                        margin: 0.5rem;
                    }
                }
                .maincocktails_bartenders_main_person-section2 {
                    @extend .d-none;
                    @extend .d-md-block;
                    .maincocktails_bartenders_main_person-links{
                        display: flex;
                        justify-content: space-evenly;
                        i{
                            color: $colorlist;
                        }
                    }
                    div {
                        padding: 0.5rem 2rem;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    //  extras
    .maincocktails_extras{
        background-color: #290707c5;
        border-radius: 3px;
        border-top: #f78282af 1px dotted;
        margin-bottom: 3rem;
        padding: 0.5rem 0 0 0;
        @extend .d-md-flex;
        justify-content: space-evenly;
        &_beers,&_wines{
            div{
                padding: 1rem 2rem;
                h2 {
                    margin: 0.5rem;
                }
                ul{
                    border-left: 1px white solid;
                    padding: 5px;
                    .sintacc{
                        border-bottom: 1px solid;
                        border-color: yellow;
                    }
                }
            }
        }
        .maincocktails_extras-titulo{
            @include huno;
            text-transform: uppercase;
            h2{
                color: #fafa82;
            }
        }
        .maincocktails_extras_items-wines{
            @extend .d-flex;
        }
        .maincocktails_extras_items-beers{
            @extend .d-flex;
            @extend .flex-md-column;
        }
    }
}
/* ------------------- */
/* ----- DELIVERY ---- */
/* ------------------- */
.maindelivery {
    @extend .container;
    @extend .mx-auto;
    @extend .d-lg-flex;
    margin: 4rem 0;
    text-transform: uppercase;
    // 
    .maindelivery_info{
        flex-basis: 75%;
        padding: 1rem 0;
        @extend .d-lg-flex;
        .maindelivery_info-txt{
            background-color: #000000d5;
            padding: 1rem;
            border-radius: 0.5rem;
            .maindelivery_info-txt-btn{
                text-align: center;
                a{
                    font-size: $font4;
                    padding: 0.5rem;
                    border: 1px dotted $colortitulo1;
                    border-radius: 0.5rem;
                    &:hover{
                        background-color: #fff59a;
                        color: #000;
                    }
                }
            }
            .maindelivery_info-txt-p{
                margin: 0 1rem;
            }
            .maindelivery_info-txt-logo{
                width: 100%;
                img {
                @extend .img-fluid;
                    border-radius: 2px;
                }
            }
        }
        .maindelivery_info-img{
            @extend .d-flex;
            @extend .flex-lg-column;
            width: 100%;
            img {
            @extend .img-fluid;
                border-radius: 2px;
                margin: 0.5rem;
            }
        }
    }
    // 
    .maindelivery_instrucciones {
        flex-basis: 20%;
        background-color: #a041306b;
        border-radius: 4px;
        text-align: justify;
        @extend .mx-auto;
        justify-content: space-around;
        .maindelivery_instrucciones-pasos{
            @extend .d-flex;
            @extend.flex-lg-column;
            @extend .align-items-center;
            @extend .justify-content-around;
            .maindelivery_instrucciones-icon{
                @extend .d-flex;
                @extend.flex-md-column;
                justify-content: space-around;
                padding: 1rem;
                .maindelivery_instrucciones-icon-whatsapp{
                    justify-content: center;
                    text-align: center;
                        i {
                            color: #73da56;
                            padding-bottom: 1rem;
                        }
                        p{
                            @extend .d-none;
                            @extend .d-md-block
                        }
                    }
                .maindelivery_instrucciones-icon-phone{
                    justify-content: center;
                    text-align: center;
                        i {
                        color: #d82020;
                            padding-bottom: 1rem;
                        }
                        p{
                            @extend .d-none;
                            @extend .d-md-block
                        }
                    }
                }
        }
        .maindelivery_instrucciones-important{
            background-color: #ff000059;
            text-align: center;
            border-radius: 2px;
            }

    }
}

/* ------------------- */
/* -----contact------- */
/* ------------------- */
.maincontact{
    @extend .container;
    .maincontact-title{
        h1{
            font-size: $fontxl;
            margin: 0 20%;
            text-shadow: #e25b32 2px 2px;
        }           
    }
    .maincontact_main{
        justify-content: space-around;
        padding: 1rem;
    // section
        .maincontact_main_section{
            @extend .d-flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            margin-bottom: 1rem;
            // redes
            .maincontact_main_section_redes{
                @extend .flex-md-column;
                border-radius: 5px;
                .maincontact_main_section_redes-main{
                    padding: 0.5rem;
                    .maincontact_main_section_redes-main-subtitulo{
                        text-align: center;
                    }
                    .maincontact_main_section_redes-main-lista{
                        @extend .d-flex;
                        justify-content: space-around;
                        .maincontact_main_section_redes-main-lista-item{
                            a{
                                color: white;
                                padding:0 1rem;
                                display: flex;
                                align-items: center;
                                i{
                                    padding: 1rem;
                                }
                                .maincontact_main_section_redes-main-lista-item-txt{
                                    @extend .d-none;
                                    @extend .d-md-block;
                                }
                                &:hover{
                                    color: #ffebd5;
                                }
                            }
                        }
                    }
                }
            }
            // horarios
            .maincontact_main_section_horarios{
                border-radius: 0.5rem;
                padding: 1rem 2rem;
                background: #8a2e2e49;
                .maincontact_main_section_horarios-list{
                    li{
                        margin: 3px 0;
                    }
                }
            }
        }
    // form
        .maincontact_main_form{
            border-radius: 1rem;
            padding: 1rem;
            background: #ffffbc50;
            color: white;
            // datos
            .maincontact_main_form-datos{
                    padding-bottom: 0.5rem;
                    margin-bottom: 2rem;
                    border-bottom: 1px solid white;
                legend{
                    padding-left: 10%;
                }
                .maincontact_main_form-datos-1{
                    @extend .d-md-flex;
                        align-items: center;
                        justify-items: center;
                        justify-content: space-evenly;
                    .maincontact_main_form-datos-item{
                        i{
                        padding: 0.3rem;
                        }
                        input{
                            width: 170px;
                        }
                    }
                }
            }
            // section
            .maincontact_main_form_section{
                @extend .d-md-flex;
                justify-content: space-evenly;
                // encuesta
                .maincontact_main_form_section-encuesta{
                        border-left: 2px solid white;
                        padding:0 0.5rem;
                        height: fit-content;
                    .maincontact_main_form_section-encuesta-section{
                        @extend .d-flex;
                        @extend .flex-md-column;
                            @extend .mx-auto;
                        .maincontact_main_form_section-encuesta-section-item{
                            padding: 0.5rem;
                            border-bottom: 1px solid white;
                        }
                    }
                }
                // sugerencias
                .maincontact_main_form_section-textarea{
                    border-left: 2px solid white;
                    padding-left: 0.5rem;
                    textarea{
                        width: 100%;
                        border-radius: 5px;
                    }
                    button{
                        border-radius: 0.5rem;
                        color: #ffffff;
                        text-shadow: #00000073 1px 1px;
                    }
                    .resetBtn {
                        background-color: #ffa3a3c7;
                        align-self: center;
                    }
                    .sendBtn {
                        background-color: #54ec7fc7;
                        align-self: center;
                    }
                }
            }
        }
    }
    // map
    .maincontact_map {
        margin: 3rem 1rem;
        .maincontact_map-title{
            padding-left: 5%;
            i {
            color: #fff;
            font-size: 2.5rem;
            padding: 1rem;
            }
        }
        .maincontact_map-map{
                padding: 0 1rem;
                iframe {
                    padding: 2px;
                    border: #ffffa6 solid 1px;
                }
        }
    }
}

// ----------------
// ----- footer ---
// ----------------
footer{
    @extend .container-fluid;
    padding: 0px;
    margin: 0px;
    .footer_main{
        display: flex;
        background: #353535dc;
        justify-content: space-around;
    // horarios
        .footer_main_horarios{
            padding: 1rem;
            flex-basis: auto;
            border-left: 1px dashed #ffc3c3;
            li{
                padding-bottom: 3px;
            }
        }
    // links
        .footer_main_links{
            flex-basis: 40%;
            justify-content: space-around;
            @extend .d-md-flex;
            .footer_main_links_section{
                padding: 1rem;
                border-left: 1px dashed #ffc3c3;
                .footer_main_section-titulo{
                    text-align: center;
                }
                .footer_main_links_section-sub{
                    @extend .d-flex;
                    @extend .flex-md-column;
                    justify-content: space-evenly;
                    .footer_main_link_item{
                        display: flex;
                        align-items: center;
                        .footer_main_link_item-ico{
                            padding: 0.5rem 1rem;
                        }
                        .footer_main_link_item-txt{
                            @extend .d-none;
                            @extend .d-md-block;
                        }
                    }
                }
            }
        }
    }
    // derechos
    .footer_derechos{
        @extend .d-flex;
        padding: 1rem;
        background: #cdcdcda8;
        align-items: flex-end;
        justify-content: center;
        img{
            @extend .img-fluid;
        }
        .footer_derechos-btm{
            img{
                height: 75px;
                width: auto;
            }
        }
        .footer_derechos-by{
            img{
                height: 35px;
                width: auto;
            }
        }
    }
}