 * {
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0px;
}
ul {
    list-style: none;
    color: #ffffdb
}
html {
    font-size: 62.5%;
    height: 100%;
} 
body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    word-spacing: 5px;
    background-color: black;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
a{
    text-decoration: none; 
    color: #ffffa6;
}
p {
    font-size: 1.5rem;
    color: #ffffd0;
}
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #e4e44e;
}
h2 {
    color: #ff806a;
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
    font-style: italic;
    color: #eee26f;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 42.5%;
    }
    .img-fluid {
        width: 75%;
    }
.img-responsive {
    object-fit: cover;
    width: 50%;
}
}

/* ------------------- */
/* ----- HEADER ------- */
/* ------------------- */

        /* portada */
.header .call img {
    width: 3rem;
}
.btmName {
    height: 5rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 7rem !important;
    color: #dada46;
}
.text-focus-in {
	-webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
            /* MENU    */
.menu i{
    font-size: 3rem;
    background-color: #1c1c1c;
    color: #ffffff;
}
.menu .icn1 {
    height: 3rem;
    padding-left: 10%;
}
nav ul {
    margin-top: 0.5rem;
    border-bottom: #fff 1px solid;
}
nav ul li a:hover{
    color: #ff806a;
    border-top: 1px solid #fff700;
}
nav ul li{
    color: #ffffa6;
    padding: 0 1rem ;
    font-size: 1.5rem;
    background-color: #000000c5;
}
.dropdown-menu {
    background-color: #000000c1;
    border: #ffffff69 2px solid;
}
.dropdown-menu a {
    font-size: 1.5rem;
    color: #fff;
}
.welcome {
    padding-top: 2rem;
}
.welcome h1 {

    font-size: 3rem;
}
.section2 {
    animation-name: sectionshow;
    animation-duration: 4s;
    padding-bottom: 3rem;
}
.section2 p {
    width: 80%;
    text-align: end;
}
        /* footer */
.redes ul li img {
    width: 3rem;
}

/* ------------------- */
/* ----- INDEX ------- */
/* ------------------- */

             /* ULTIMOS SHOWS */
#ult-shows {
    font-weight: 900;
    padding: 1rem;
    background-color: #ffffffe3;
    border-bottom: #f78282 solid 1rem;
}

.ultShows {
    background-image: url(img/showbackground.jpg);
    background-position: bottom;
    background-size: cover;
}
/* ------------------- */
/* -----SHOWS------- */
/* ------------------- */



/*
#ciclos_shows {
    text-align: center;
    color: #f0a88e;
}
.ciclosShows {
    margin: 0 3rem 5rem 3rem ;
    justify-content: center;
}
.ciclosShows .dias {
    display: inline-flex;
    width: 70%;
    margin-top: 3rem;
}
.ciclosShows .dias img {
    float: left;
    margin-left: 8rem;
}
.ciclosShows .dias p {
    margin-left: 8rem;
}
.ciclosShows .dias h2{
    text-align: right;
    
}
*/

/* ------------------- */
/* -----MENU ------- */
/* ------------------- */


/* ------------------- */
/* -----SOCIAL------- */
/* ------------------- */

/* ------------------- */
/* -----contact------- */
/* ------------------- */

 .contactbody {
     background-color: #0c0c0cd7;
 }
.txtContact h1{
    margin: 2rem;
    font-size: 4rem;
    text-shadow: #e25b32 2px 2px;
}
.mainContact {
    margin-top: 3rem;
}
.contactlistredes i {
    font-size: 4rem;
    color: #ffffff;
    padding: 1rem;
}
.contactForm {
    background-color: #ffffb9;
    padding:  2rem 4rem;
    margin-top: 6rem;
    border-radius: 1rem;
}
legend {
    margin-top: 1rem;
    background-color: #ffffffa1;
}
label {
    font-weight: 700;
}
.contactForm button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0.5rem;font-size: 1.3rem;
}
.resetBtn {
    background-color: #ffadad;
    padding: 3px;
}
.sendBtn {
    background-color: #87e9a3;
    padding: 3px;
}
.contactMap i{
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem;
}
.contactMap iframe {
    border: #ffffa6 solid 1px;
}